<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.movie.dao.MovieMapper">

  <update id="update">
  update t_movie set status =#{status} where id =#{id}
  
  </update>

	<select id="selects" resultType="movie">

		select * from t_movie
		<where>
			<if test="name!=null and name!=''">
				name like "%" #{name} "%"  
			</if>

			<if test="actor!=null and actor!=''">
			and	actor like "%" #{actor} "%" 
			</if>
			<if test="year!=null and year!=''">
			and 	year =#{year} 
			</if>

			<if test="uptimeStart!=null and uptimeStart!=''">
			and 	uptime >=#{uptimeStart}
			</if>
			<if test="uptimeEnd!=null and uptimeEnd!=''">
			and 	uptime &lt;= #{uptimeEnd}
			</if>

			<if test="priceStart!=null and priceStart!=''">
			and 	price >=#{priceStart}
			</if>
			<if test="priceEnd!=null and priceEnd!=''">
			and 	price &lt;= #{priceEnd}
			</if>

			<if test="durationStart!=null and durationStart!=''">
			and 	duration >=#{durationStart}
			</if>
			<if test="durationEnd!=null and durationEnd!=''">
			and 	duration &lt;= #{durationEnd}
			</if>

		</where>

      <if test="orderByColumn!=null and orderByColumn!=''">
        order by ${orderByColumn} ${orderByMethod}

  </if>

	</select>



</mapper>